@media only screen and (max-width:780px){
    .header-main{
        font-size: 50px;
    }
    .header-items li:nth-child(2){
        border-right: none;
    }

    .about-detail{
        text-align: justify;
    }

    .about{
        padding: 10px;
    }
}