*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    position: relative;
    height: 95vh;
    background-image:linear-gradient( rgba(151, 157, 167, 0.8) 10%, rgba(31,61,115, 0.8) 80%), url(img/landing.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    margin: 0px;
    padding: 0px;
}

.header-main{
    color: white;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 500%;
}

.header-content{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-items li{
    list-style: none;
    display: inline-block;
    color: whitesmoke;
    padding: 0px 10px;
    text-transform: capitalize;
    border-right: 2px solid whitesmoke;
}

.header-items li:last-child{
    border-right: none;
}

.about-section{
    padding: 50px;
}

.about{
    padding: 70px;
}

.about-detail{
    margin-top: 30px;
}

.about-img-section{
    text-align: center;
    margin:auto;
}

/* Services section */
.services-section{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #363795 74%);
    color: whitesmoke;
    padding: 90px 15px;
}

.service-icon{
    font-size: 450%;
    margin: 20px;
}

/* Contact Section */

.contact-section{
    padding: 50px 10px;
}

.contact-item{
    padding: 15px;
    background-color: #2a2a72;
    color: aliceblue;
    border-radius: 5px;
}

.contact-icons li a{
    text-decoration: none;
    color: white;
}

.contact-phone li{
    list-style: none;
    display: inline-block;
}

.contact-phone li a{
    text-decoration: none;
    color: white;
}

.contact-mail{
    display: inline-block;
}

.contact-mail:hover{
    text-decoration: none;
    color: white;
}

/* Footer */

footer{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #363795 74%);
    color: whitesmoke;
}

footer p{
    letter-spacing: 1.05;
    color: rgba(255,255,255, 0.7);
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: rgba(255,255,255, 0.7);
}

footer ul li a:hover{
    text-decoration: none;
    color: white;
}


.social-media{
    list-style: none;
    display: inline-block;
    background-color: #2a2a72;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px;
}
.social-media:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px #2a2a72;
    cursor: pointer;
}

.social-media:active{
    transform: translateY(-1px);
    box-shadow: 0px 1px 10px #2a2a72;
    cursor: pointer;
}